<a href="https://colab.research.google.com/github/201ssc/kaggle_test/blob/main/kaggle_titanic_test5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [147]:
import numpy as np
import pandas as pd
from pandas import Series
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2.5)

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

df_test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/titanic/test.csv')
df_train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/titanic/train.csv')

In [148]:
for col in df_train.columns:
  m = df_train[col].isnull().sum() / df_train[col].shape[0] 
  print("columns :{:>10}\t NaN values : {:0.2f}%".format(col,m))

columns :PassengerId	 NaN values : 0.00%
columns :  Survived	 NaN values : 0.00%
columns :    Pclass	 NaN values : 0.00%
columns :      Name	 NaN values : 0.00%
columns :       Sex	 NaN values : 0.00%
columns :       Age	 NaN values : 0.20%
columns :     SibSp	 NaN values : 0.00%
columns :     Parch	 NaN values : 0.00%
columns :    Ticket	 NaN values : 0.00%
columns :      Fare	 NaN values : 0.00%
columns :     Cabin	 NaN values : 0.77%
columns :  Embarked	 NaN values : 0.00%

In [149]:
for col in df_test.columns:
  m = df_test[col].isnull().sum() / df_test[col].shape[0] 
  print("columns :{:>10}\t NaN values : {:0.2f}%".format(col,m))

columns :PassengerId	 NaN values : 0.00%
columns :    Pclass	 NaN values : 0.00%
columns :      Name	 NaN values : 0.00%
columns :       Sex	 NaN values : 0.00%
columns :       Age	 NaN values : 0.21%
columns :     SibSp	 NaN values : 0.00%
columns :     Parch	 NaN values : 0.00%
columns :    Ticket	 NaN values : 0.00%
columns :      Fare	 NaN values : 0.00%
columns :     Cabin	 NaN values : 0.78%
columns :  Embarked	 NaN values : 0.00%

In [150]:
df_train['Fare'] = df_train['Fare'].map(lambda i: np.log(i) if i > 0 else 0)
df_test['Fare'] = df_test['Fare'].map(lambda i: np.log(i) if i > 0 else 0)

기본 값 정리, 연령 널값 제거, 티켓값 평탄화

In [137]:
# 취소 연령 평균값, 좀 더 정확히 하기

# df_test.loc[df_test.Age.isnull(), 'Age'] = round(df_test.Age.mean(), 2)
# df_train.loc[df_train.Age.isnull(), 'Age'] = round(df_train.Age.mean(), 2)

In [151]:
df_train['Initial'] = df_train.Name.str.extract('([A-Za-z]+)\.') # Lets extract the Salutations
df_test['Initial'] = df_test.Name.str.extract('([A-Za-z]+)\.') # Lets extract the Salutations

In [152]:
pd.crosstab(df_train['Initial'], df_train['Sex']).T.style.background_gradient(
	cmap='summer_r') # Checking the Initials with the Sex

In [ ]:
## 취소  
# 단순하게 만들어 평균값을 넣어 줬지만 비효율적이다. 
"""
1. 널이 아닌 값도 불필요한 계산이 들어간다.
2. 지나친 단순화로 인해 널값들이 부정확하게 들어 갈 수 있다. 

>> 차라리 널에 해당하는 값들을 살펴본뒤 그들에 평균을 직접 넣는 것이 더 바람직하다.

df_train['Initial'].replace(['Mlle', 'Mme', 'Ms', 'Dr', 'Major', 'Lady', 'Countess', 'Jonkheer',
	'Col', 'Rev', 'Capt', 'Sir', 'Don', 'Dona'],
    	['Miss', 'Miss', 'Miss', 'Mr', 'Mr', 'Mrs', 'Mrs', 'Other', 'Other', 'Other',
        'Mr', 'Mr', 'Mr', 'Mr'], inplace = Ture)
        
df_test['Initial'].replace(['Mlle', 'Mme', 'Ms', 'Dr', 'Major', 'Lady', 'Countess', 'Jonkheer',
	'Col', 'Rev', 'Capt', 'Sir', 'Don', 'Dona'],
    	['Miss', 'Miss', 'Miss', 'Mr', 'Mr', 'Mrs', 'Mrs', 'Other', 'Other', 'Other',
        'Mr', 'Mr', 'Mr', 'Mr'], inplace = Ture)


df_train.loc[(df_train.Age.isnull())&(df_train.Initial=='Mr'),'Age'] = 33
df_train.loc[(df_train.Age.isnull())&(df_train.Initial=='Mrs'),'Age'] = 36
df_train.loc[(df_train.Age.isnull())&(df_train.Initial=='Master'),'Age'] = 5
df_train.loc[(df_train.Age.isnull())&(df_train.Initial=='Miss'),'Age'] = 22
df_train.loc[(df_train.Age.isnull())&(df_train.Initial=='Other'),'Age'] = 46

# test의 값은 train 값을 기준으로 바꿔줍시다.
df_test.loc[(df_test.Age.isnull())&(df_test.Initial=='Mr'),'Age'] = 33
df_test.loc[(df_test.Age.isnull())&(df_test.Initial=='Mrs'),'Age'] = 36
df_test.loc[(df_test.Age.isnull())&(df_test.Initial=='Master'),'Age'] = 5
df_test.loc[(df_test.Age.isnull())&(df_test.Initial=='Miss'),'Age'] = 22
df_test.loc[(df_test.Age.isnull())&(df_test.Initial=='Other'),'Age'] = 46

# df.loc['A', 'B']가 있다면
# 'A'는 행을 나타내고 'B'는 열(Label)을 나타냅니다.

"""

In [153]:
# 널값 찾기
pd.crosstab(df_train['Initial'], df_train['Age'].isnull()).T.style.background_gradient(
	cmap='summer_r')

In [154]:
pd.crosstab(df_test['Initial'], df_test['Age'].isnull()).T.style.background_gradient(
	cmap='summer_r')

In [ ]:
널값은

df_train
"Dr", "Mastar", "Miss", "Mrs", "Mr"

df_test
Master	Miss	Mr	Mrs	Ms

In [158]:
df_train.loc[(df_train.Age.isnull())&(df_train.Initial=='Dr'),'Age'] = df_train[df_train.Initial=='Dr']['Age'].mean()
df_train.loc[(df_train.Age.isnull())&(df_train.Initial=='Master'),'Age'] = df_train[df_train.Initial=='Master']['Age'].mean()
df_train.loc[(df_train.Age.isnull())&(df_train.Initial=='Miss'),'Age'] = df_train[df_train.Initial=='Miss']['Age'].mean()
df_train.loc[(df_train.Age.isnull())&(df_train.Initial=='Mrs'),'Age'] = df_train[df_train.Initial=='Mrs']['Age'].mean()
df_train.loc[(df_train.Age.isnull())&(df_train.Initial=='Mr'),'Age'] = df_train[df_train.Initial=='Mr']['Age'].mean()

In [159]:
df_test.loc[(df_test.Age.isnull())&(df_test.Initial=='Master'),'Age'] = df_test[df_test.Initial=='Master']['Age'].mean()
df_test.loc[(df_test.Age.isnull())&(df_test.Initial=='Miss'),'Age'] = df_test[df_test.Initial=='Miss']['Age'].mean()
df_test.loc[(df_test.Age.isnull())&(df_test.Initial=='Mr'),'Age'] = df_test[df_test.Initial=='Mr']['Age'].mean()
df_test.loc[(df_test.Age.isnull())&(df_test.Initial=='Mrs'),'Age'] = df_test[df_test.Initial=='Mrs']['Age'].mean()
df_test.loc[(df_test.Age.isnull())&(df_test.Initial=='Ms'),'Age'] = df_train[df_train.Initial=='Ms']['Age'].mean()

In [ ]:
 df_train[df_train.Initial=='Mr']['Age'].mean()

In [160]:
pd.crosstab(df_train['Initial'], df_train['Age'].isnull()).T.style.background_gradient(
	cmap='summer_r')

In [161]:
pd.crosstab(df_test['Initial'], df_test['Age'].isnull()).T.style.background_gradient(
	cmap='summer_r')

clear